* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F5FC;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

header {
    /* padding: 1rem; */
    margin-top: 1.2rem;
    color: #0A3871;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    /* border: 2px solid; */
}

.encriptedPart {
    /* padding: 20px; */
    width: 100vw;
    max-width: 800px;
    border: 2px solid;
    height: 90vh;
    /* gap: 30px; */
}

.text-area {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    gap: 30px;

}

button {
    background-color: #0A3871;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 10px;

}

button:hover {
    background-color: #0A3899;

}

.desencriptedPart {
    background-color: white;
    height: 944px;
    width: 400px;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;

}


footer {
    background-color: #0A3871;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
}